* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px; /*Cuando definimos el tamaño de la fuente en root, estamos declarando el valor de 1 rem */
}

#root {
  width: 100%;
}

